PORT=3000

DB_ROOT_PSW=
HOST=localhost
DB_PORT=5310
DB_NAME=trancendance
mysql://<user>:<password>@<host>:<port>/<database>
MYSQL_URL=

REDIS_HOST=localhost
REDIS_PORT=6379

JWT_SECRET=

EMAIL_HOST=
EMAIL_PORT=
EMAIL_USER=
EMAIL_PASSWORD=

APP_URL=http://localhost:5173
CORS_ORIGIN=http://localhost:5173

HTTP_PORT=8080
HTTPS_PORT=8443
